:root {
    /* Color Scheme_1  */
    --primary-color: #0785FF;
    --secondary-color: #F8F9FD;
    /* Color Scheme_2  */
    --primary-color-1: #5D63F2;
    --secondary-color-1: #F2E9F8;
    --extreme-left-gradient: #7675DE;
    --extreme-right-gradient: #E467CA;

}